.card {
  background-color: rgba(77, 75, 75, 0.705) !important;
}
.arrow-btn {
  border: 0;
  color: #fff;

  background-color: transparent;
}
input[type='checkbox'] {
  width: 2rem;
  height: 2rem;
  accent-color: green;
  clip-path: circle(50% at 50% 50%);
  border-radius: 50%;
  border: 1px solid greenyellow;
  cursor: pointer;
}

.progress-container {
  width: 100%;
  max-width: 400px;
  margin: auto;
  border-radius: 10px;
  position: relative;
}

.barmarker-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.barmarker {
  display: grid;
  place-content: start;
  position: relative;
  font-size: 10px;
}

.barmarker:is(:not(:last-child, :first-child))::after {
  content: '';
  width: 2px;
  height: 19px;
  background-color: rgba(53, 51, 51, 0.616);
  position: absolute;
  bottom: -22px;
  left: 50%;
}

.progress {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 32px;
  margin-top: 5px;
  background-color: rgba(53, 51, 51, 0.616) !important;
}
.progress::-webkit-progress-bar {
  background-color: rgba(53, 51, 51, 0.616);
  border-radius: 10px;
}
.progress::-webkit-progress-value {
  background-color: green;
  border-radius: 101px;
}

.paginations {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.circl {
  border: 1px solid green;
  background-color: green;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.active-pagination {
  width: 25px;
}

.text-fa::after {
  content: '';
  position: absolute;
  top: 20%;
  right: -20px;
  transform: translate(-50%, -50%);
  transform: rotate(90deg);
  height: 15px;
  width: 20px;
  border-radius: 0 0 150px 150px;
  background-color: green;
}
